@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

body {
    /*font-family: "Barrio";*/
    margin: 20px;
}

h1 {
    color: rgb(38, 13, 98);
}
h2 {
    color: rgb(128, 0, 255);
}

body {
  margin: 20px;
}

p {
  font-family: "Barrio";
}

#container {
  margin-left: 100px;
}

div.kaste {
    border: 3px solid green;
    background-color: lightblue;
    width: 50px;
    height: 50px;
    margin: 5px;
    display: inline-block;
}

circle.bumba {
    fill:rgb(128, 0, 255);
    stroke: black;
    stroke-width: 3px;

    background: rgb(67, 57, 173);
    
}

button:hover{
    background-color: rgb(0, 0, 0);
    transition: all 0.5s ease;
    cursor: pointer;
    color: #fff;
    
}

button{
    font-size: 15px;
    margin: 50px 50px 50px 50px;
    max-width: 350px;
}

b{
    font-size: 25px;
}