h1 {
    color: rgb(38, 13, 98);
}
h2 {
    color: rgb(128, 0, 255);
}

#container {
    border: 5px solid red;
    width: 600px;
    height: 300px;
    display: block;
}

div.kaste {
    border: 3px solid green;
    background-color: lightblue;
    width: 50px;
    height: 50px;
    margin: 5px;
    display: inline-block;
}

circle.bumba {
    fill:rgb(128, 0, 255);
    stroke: black;
    stroke-width: 3px;

    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(79,79,184,1) 35%, rgba(0,0,0,1) 100%); 
}

table.kno tr td {
    width: 100px;
    height: 100px;
    border: 5px solid gray;
}
#strikethrough {
    position: absolute;
    /*z-index: 1;*/
    width: 300px;
    height: 300px;
    pointer-events: none;
}

button{
    margin: 50px 50px 50px 50px;
    max-width: 350px;
}